/*--Final Project Adv JS LOGIN Styles--*/
/*--headings--*/
	h2{
		color:#ffffff;
		font-weight:bold;
		padding-top:4%;
		padding-bottom:4%;
		text-align:center;
		background:#F6D444;
		margin-top:0px;
		margin-bottom:0px;}
	h3{
		text-align:center;}

/*--Main--*/
	#loginContainer{
		width: 400px;
		margin:1% auto;
		border-radius: 3px;
		padding-bottom:1em;
		-moz-box-shadow:0 0 5px #7F7F7F;
		-webkit-box-shadow:0 0 5px #7F7F7F;
		box-shadow:0 0 5px #7F7F7F;}
		
/*--Login Form--*/
	.form-control{
		display:block;
		border-radius:3px;
		border:none;
		width:70%;
		margin:2% auto;  
		padding:3% 2%;
		-moz-box-shadow:0 0 5px #7F7F7F;
		-webkit-box-shadow:0 0 5px #7F7F7F;
		box-shadow:0 0 5px #7F7F7F;}
	input[type='text'],input[type='password']{
		font-size: medium;
		letter-spacing: 0.05em;}
	label{
		text-align:left;
		margin-bottom:.4em;
		margin-top:2%;
		margin-left:3em;
		font-size:1.2em;
		color:black;}
	.formButtons{
		text-align:center;}
	.formButtons .btn{
		margin:6% 2%;
		border-radius:2px;
		border:none;
		padding:2%;
		background-color:white;
		-moz-box-shadow:0 0 5px #000000;
		-webkit-box-shadow:0 0 5px #000000;
		box-shadow:0 0 5px #000000;}
	.btn:hover{
		-moz-box-shadow:0 0 5px #7F7F7F;
		-webkit-box-shadow:0 0 5px #7F7F7F;
		box-shadow:0 0 5px #7F7F7F;}
		
/*--Media Queries--*/
	@media (max-width:450px){
		#loginContainer{
			width:100%;
			margin:1% auto;}
	}