/*--Final Project Adv JS Styles--*/
/*--NAVIGATION--*/
#navigationMenu{
	position:fixed;
	top:30%;
	left:-38px;
	z-index:5;}
#navigationMenu li{
	list-style:none;
	height:39px;
	padding:2px;
	width:40px;	}
#navigationMenu span{
	/* Container properties */
	width:0;
	left:38px;
	padding:0;
	position:absolute;
	overflow:hidden;
	/* Text properties */
	font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.6px;
	white-space:nowrap;
	line-height:39px;
	/* CSS3 Transition: */
	-webkit-transition: 0.25s;
	/* Future proofing (these do not work yet): */
	-moz-transition: 0.25s;
	transition: 0.25s;}
#navigationMenu a{
	-moz-box-shadow:0 0 5px #000000;
	-webkit-box-shadow:0 0 5px #000000;
	box-shadow:0 0 5px #000000;
	border:none;
	border-radius:3px;
	height:39px;
	width:38px;
	display:block;
	position:relative;}
#navigationMenu i{	
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color:black;}		
		
/*--Navigation Hover & Spans--*/
#navigationMenu a span:hover{
	color:#f2f2f2;}
#navigationMenu a:hover span{ width:auto; padding:0 20px;overflow:visible; }
#navigationMenu a:hover{
	text-decoration:none;
	/* CSS outer glow with the box-shadow property */
	-moz-box-shadow:0 0 5px #7F7F7F;
	-webkit-box-shadow:0 0 5px #7F7F7F;
	box-shadow:0 0 5px #7F7F7F;}
#navigationMenu #active{
	background-color:#dfdfdf;
	box-shadow:0 0 0 #7F7F7F;}
#navigationMenu .browse span{
	background-color:#323232;
	color:#bfbfbf;}
#navigationMenu .favorite span{
	background-color:#323232;
	color:#bfbfbf;}
#navigationMenu .add span{
	background-color:#323232;
	color:#bfbfbf;}
#navigationMenu .login span{
	background-color:#323232;
	color:#bfbfbf;}
#navigationMenu .logout span{
	background-color:#323232;
	color:#bfbfbf;}

/*--Main--*/
body{
	letter-spacing:.03em;
	font-family: 'Poppins', sans-serif;}
h1{
	font-family: 'Roboto Condensed', sans-serif;
	text-align:center;
	font-size:2.3em;
	margin-top:4%;}
h1 .logo{
	vertical-align:middle;
}

/*--Up Button--*/
#topButton a{
	position:fixed;
	bottom:25px;
	right:15px;
	z-index:5;
	-moz-box-shadow:0 0 5px #000000;
	-webkit-box-shadow:0 0 5px #000000;
	box-shadow:0 0 5px #000000;
	border:none;
	border-radius:3px;
	height:38px;
	width:38px;}
#topButton a:hover{
	-moz-box-shadow:0 0 5px #7F7F7F;
	-webkit-box-shadow:0 0 5px #7F7F7F;
	box-shadow:0 0 5px #7F7F7F;}
#topButton i{	
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color:black;}
		