/*--Final Project Adv JS INDEX Styles--*/
/*--JQuery UI Accordion--*/
	#accordion-resizer {
		padding: 10px;
		width: 80%;
		height: 100%;
		margin:0 auto;}
	#accordion .ui-accordion-header{
		border:none;
		font-size:1.9em;}		
	#accordion .ui-accordion-header:first-of-type{
		background-color:#f4e662;}  
	#accordion .ui-accordion-header:nth-of-type(2){
		background-color:#F6D444;}  
	#accordion .ui-accordion-header:nth-of-type(3){
		background-color:#F6BB44;}  
	#accordion .ui-accordion-header:nth-of-type(4){
		background-color:#F4B130;} 
	#accordion .ui-accordion-header:nth-of-type(5){
		background-color:#d27627;} 
	#accordion .ui-accordion-header:nth-of-type(6){
		background-color:#712a11;} 
	#accordion .ui-accordion-header:nth-of-type(7){
		background-color:#190b05;}  
	#accordion .ui-accordion-header:nth-of-type(8){
		background-color:#0b0401;}
	#accordion .ui-accordion-header:nth-of-type(9){
		background-color:#000000;}
	#accordion .ui-accordion-header:nth-of-type(10){
		background-color:#000000;}
		
/*--Main Content--*/
	.col{
		width:45%;
		padding:1%;
		margin:1%;
		display:inline-block;
		border:1px solid rgb(221,221,221);
		border-radius:2px;
		position:relative;}
	.beerImg, .beerHeading{
		display:inline-block;
		padding:1%;}
	.beerImg img{
		max-width: 100%;
		height: auto;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);}
	.beerNotes ul{
		padding-left:0px;
		list-style-type:none;}
	.beerNotes li{
		display:inline;
		padding:0 2% 0 0;}
		
/*--Icons--*/
	.beerHeading i{
		position: absolute;
		top:5px;
		right:5px;
		color:#660000;}
	.stars i{
		position:relative;
		color:#f0ad4e;
		display:inline;
		font-size:24px;}
	#Favs i{
	    position:absolute;
		top:18px;
		left:8px;
		color:#660000;
		font-size:1.1em;
		z-index:2;}
	#Favs i:hover{
	  color:white;}
		
/*--Media Queries--*/		
	@media (max-width:1200px){
		.col{
			width:95%;}
	}
	@media (max-width:400px){
		#accordion-resizer{
			width:95%;}
	}
	@media (max-width:525px){
		.ui-accordion .ui-accordion-content{
			padding:0;
		}
	}