<form>
  <fieldset>
      <p>
            <select class="dropdownOne"(change)="onChangeRemoveOption($event, dropdownOptions)">
                <option value="default" id="dropdownOne" > Choose Preference </option>
                <option *ngFor="let option of dropdownOptions, let i = index"  value={{i}} > {{option}} </option>
            </select>
            Monday/Wednesday 10:10am-Noon 
      </p>
      <p>
            <select class="dropdownTwo" (change)="onChangeRemoveOption($event, dropdownOptions)">
                <option value="default" id="dropdownTwo" > Choose Preference </option>
                <option *ngFor="let option of dropdownOptions, let i = index"  value={{i}} > {{option}} </option>
            </select>   
            Tuesday 6:00pm-9:00pm 
      </p>
      <p>
            <select class="dropdownThree" (change)="onChangeRemoveOption($event, dropdownOptions)">
                <option value="default" id="dropdownThree" > Choose Preference </option>
                <option *ngFor="let option of dropdownOptions, let i = index"  value={{i}} > {{option}} </option>
            </select>  
            Wednesday 6:00pm-9:00pm 
      </p>
      <p>
            <select class="dropdownFour" (change)="onChangeRemoveOption($event, dropdownOptions)">
                <option value="default" id="dropdownFour" > Choose Preference </option>
                <option *ngFor="let option of dropdownOptions, let i = index"  value={{i}} > {{option}} </option>
            </select> 
            Tuesday/Thursday 10:10am-Noon 
      </p>
	  <p>
			<label>Email:
				<input type="text" name="cust_email" id="cust_email">
			</label>
	  </p>
      <p style="text-align:center">
			<button (click)="onClickSubmit()">Submit</button>
			<button (click)="onClickReset()">Reset</button><br>
      </p>
  </fieldset>  
</form>